// Your styles go here
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
}
h1,
#hamburger {
  display: inline-block;
}
h1 {
  font-weight: 200;
}
#hamburger {
  margin-top: 6%;
  float: right;
  font-size: 25px;
}
form {
  display: none;
}
nav {
  display: none;
}
img {
  width: 100%;
}
h3 {
  font-size: 20px;
  margin: 0;
  font-weight: normal;
}
article {
  border-bottom: 1px solid #000;
}
article h3,
article p {
  overflow: hidden;
  margin: 5px;
}
footer {
  background-color: #e5e5e5;
}
footer a {
  display: none;
}
#copyDeclaration {
  text-align: center;
  padding: 10px 10px;
  background-color: #e5e5e5;
  width: 100%;
}
.readMoreButton {
  display: none;
}
.author {
  font-size: 15px;
}
.blogText {
  font-size: 13px;
}
#prevNextContainer {
  width: 100%;
  text-align: center;
}
.prevNext,
.prevNextText {
  display: inline-block;
  text-decoration: none;
}
.prevNext {
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #e5e5e5;
  border: 0;
}
#prev {
  float: left;
}
#next {
  float: right;
}

@media all and (min-width: 576px) {
  h1,
  form {
    display: inline-block;
  }
  form {
    margin-top: 3%;
    float: right;
    border-radius: 20px;
    padding: 10px 20% 10px 30px;
    background-color: #e5e5e5;
    border: none;
  }
  nav {
    display: block;
    text-align: center;
    background-color: #e5e5e5;
    font-size: 20px;
    margin: 10px auto;
    padding: 5px;
  }
  nav ul {
    list-style-type: none;
  }
  nav ul li {
    display: inline;
  }
  nav ul li a {
    text-decoration: none;
    color: #000;
  }
  nav a {
    border-right: 2px solid #000;
    padding-right: 5px;
  }
  #lastNav {
    border: none;
  }
  img {
    width: 30%;
    float: left;
  }
  article h3,
  article p {
    padding: 0 0 0 30px;
    margin: 10px 100px 10px;
  }
  footer {
    height: 100px;
    width: 100%;
  }
  footer a {
    display: block;
    text-align: left;
    float: left;
    margin: 20px 10px 0px 20px;
    text-decoration: none;
    color: #000;
  }

  #socialLinks {
    position: absolute;
  }
  #copyDeclaration {
    padding-top: 20px;
    padding-right: 20px;
    text-align: right;
    float: right;
    width: 95%;
  }
  #prev {
    float: none;
  }
  #next {
    float: none;
  }
  #searchbox {
    background-color: #e5e5e5;
    border: none;
  }
  #prevNextContainer {
    width: 100%;
    text-align: center;
  }
  .author,
  .blogText {
    font-size: 14px;
  }
  .prevNext,
  .prevNextText {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
  }
  .readMoreButton {
    display: inline-block;
  }
  .readMoreButton,
  .prevNext {
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px 30px;
    background-color: #e5e5e5;
    border: 0;
  }
  #hamburger {
    display: none;
  }
}
